{% extends "base.html" %}

{% block content %}
<div style="margin: 10px;" class="">
  <div style="display:inline;float:left;"><img width="32"  src="/_static/img/box.png"></div>
  <div style="display:inline;float:left; margin-left: 10px;"><h3>About</h3></div>
</div><br><br>
<p>This project will contain various tools for interacting with files, services, etc.</p>
<p style="margin: 5px; font-size: 13px;">If you want to support the project, subscribe to the group in <a href="https://t.me/LPStudio">Telegram</a></p>
<p style="margin: 5px; font-size: 13px;">Also the project link on <a href="https://github.com/lehaplehk/Converter">github</a></p>

{% endblock %}  