{% extends "base.html" %}

{% block content %}
<div style="margin: 10px;" class="">
  <div style="display:inline;float:left;"><img width="32"  src="/_static/img/box.png"></div>
  <div style="display:inline;float:left; margin-left: 10px;"><h3>Loader</h3></div>
</div><br><br>
<div style=" display:inline;float:left; ">Download mp4 youtube
  <form class="" action = "/srv/loader/mp4toyutube" method="POST" enctype="multipart/form-data">
    <input class="" id="" onchange=""  type="" name="link" />               
    <input id="upload_submit"  class="" onclick="" type = "submit" value="Download">
  </form>
</div>
<br><br><br>
<div>Download mp3 youtube
  <form class="" action = "/srv/loader/yttomp3" method="POST" enctype="multipart/form-data">
    <input class="" id="" onchange=""  type="" name="link" />               
    <input id="upload_submit"  class="" onclick="" type = "submit" value="Download">
  </form>
</div>

{% endblock %}